#parse("layout/header.vm")

<div id="page-wrapper">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">MultiSelectable</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">MultiSelectable</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>脚本引入</h3>
            <pre><code><xmp><script src="${staticSiteUrl}/lib/jquery.ui/js/jquery-ui.min.js"></script>
<script src="${staticSiteUrl}/lib/jquery.ui/multiselect/js/jquery.multiselect.min.js"></script>
<script src="${staticSiteUrl}/lib/jquery.ui/multiselect/js/jquery.multiselect.filter.min.js"></script>
<script src="${staticSiteUrl}/lib/jquery.ui/multiselect/i18n/jquery.multiselect.zh-cn.js"></script>
<script src="${staticSiteUrl}/mtime/multiselectable/multiselectable.ext.js"></script></xmp></code></pre>

            <div class="alert alert-warning">
                <code>${staticSiteUrl}/lib/jquery.ui/multiselect/js/jquery.multiselect.filter.min.js</code> 是multiselect的扩展,带筛选功能,可按需引入
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h3>配置</h3>
            <pre><code>$.multiselectable = {
    defaults: {
        source: false,  // Array|string|function, 不配置时初始化静态数据, Array本地数据源, string|function服务器端数据源,function需要返回一个url
        auto: true,     // 是否自动加载服务器端数据
        type: "post",   // ajax请求方式
        dataType: "json",   // ajax响应类型
        valueField: "id",   // value字段名称
        displayField: "name",   // text字段名称
        request: false,     // function, 请求时动态参数,需返回一个json

        value: false,       //默认值,支持多选

        groupField: "",     // group字段名
        childrenField: "",  // group模式中option节点数据所在字段名

        parent: false,      // string|jQuery, 级联配置中父级下拉
        parentField: "parentId", // string, 级联配置中关系字段参数名称

        selectedList: 5     // number, 最多显示选中项文本数量
    }
}</code></pre>
            <p>兼容ajax所以配置, 即ajax配置可以用于此插件配置.</p>
            <p>属性自动初始化: <code>role="multiselectable"</code></p>
            <p>取值:<code>var val = $("select").multiselectable("value")</code></p>
            <p>赋值:<code>$("select").multiselectable("value", [103,104])</code></p>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <h3>示例</h3>
            <p>

                <select role="multiselectable"
                        data-source="/multiselectable/provinces"
                        data-value="[103,104]"
                        id="province"
                        multiple>
                    <optgroup label="group1">
                        <option value="11">option 11</option>
                        <option value="12">option 12</option>
                    </optgroup>
                    <optgroup label="group2">
                        <option value="21">option 21</option>
                        <option value="22">option 22</option>
                    </optgroup>
                </select>

                <select role="multiselectable"
                        data-source="/multiselectable/cities"
                        data-parent="#province"
                        multiple>
                </select>
            </p>
            <p>
                <h3>筛选功能配置</h3>
                <p><code>data-filter="true"</code></p>
                <select role="multiselectable"
                        data-source="/multiselectable/provinces"
                        data-filter="true"
                        id="province-filter"
                        multiple>
                </select>
            </p>
            <p>示例代码:</p>

            <pre><code><xmp><select role="multiselectable"
        data-source="/multiselectable/provinces"
        data-value="[103,104]"
        id="province"
        multiple>
    <optgroup label="group1">
        <option value="11">option 11</option>
        <option value="12">option 12</option>
    </optgroup>
    <optgroup label="group2">
        <option value="21">option 21</option>
        <option value="22">option 22</option>
    </optgroup>
</select>

<select role="multiselectable"
        data-source="/multiselectable/cities"
        data-parent="#province"
        multiple>
</select>

<!-- 筛选 -->
<select role="multiselectable"
        data-source="/multiselectable/provinces"
        data-filter="true"
        id="province-filter"
        multiple>
</select></xmp></code></pre>
        </div>
    </div>




</div>

#setCss(
    "/lib/jquery.ui/css/jquery-ui.min.css",
    "/lib/jquery.ui/multiselect/css/jquery.multiselect.css"

)

#setJs(
    "/lib/jquery.ui/js/jquery-ui.min.js",
    "/lib/jquery.ui/multiselect/js/jquery.multiselect.min.js",
    "/lib/jquery.ui/multiselect/js/jquery.multiselect.filter.min.js",
    "/lib/jquery.ui/multiselect/i18n/jquery.multiselect.zh-cn.js",
    "/mtime/multiselectable/multiselectable.ext.js"
)
